body {
    background-color: #fd8148;
    color: #333;
    font-family: 'Arvo';
    margin: 0;
    padding: 20px;
}

*{
    font-family: 'Arvo'; 
}

header {
    background-color: #ff9868;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(141, 0, 19, 0.326);
}

#para-1, #para-2, #para-3 {
    color: #272727
 }

img {
    width: 25%;
    display: block;
    margin: auto;
}

h2{
    font-family: 'Arvo-Italic';
    text-decoration: underline;
}

href{
    color: white;
}

.button {
    transform: translateX(95%);
    background-color: white;
    border: none;
    color: black;
    border: 2px solid #ff9868;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    
  }
  
  .button:hover {
    background-color: #ff9868;
    color: white; 
  }